body{
  font-family: sans-serif;
  border: 1px solid white;
  background-color: black;
}

.modalstart {
  /* The Modal (background) */
  /* display: none; /* Hidden by default */ */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  /* Modal Content/Box */
  background-image: url(Images/pixil-frame-1.png);
  width: 80%;
  height: 40%;
    /* background-color: #fefefe; */
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 10px solid white;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align: center;
}

.modal-text {
  margin-top: 20px;
}

.close {
  /* The Close Button */
    color: #F44336;
    background-color: #4CAF50;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
    padding: 5px;
    border: 3px solid black;

}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.restart {
    color: #aaa;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
}

.modalrestart {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.restart:hover,
.restart:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.grid {
  border-collapse: collapse;
  border: 1px solid black;
  /* border: 1px solid black; */
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 2em;
  table-layout: fixed;
}

.topbar{
  border: 1px solid white;
  color: white;
  height: 30px;
  width: 100%;
}

.bottombar{
  border: 1px solid white;
  color: white;
  height: 30px;
  width: 100%;
  text-align: center;
}

.home {
  background-image: url(Images/home.png);
  /* background-size: cover; */
  height: 100px;
  width: 800px;
  color: green;
  /* background-color: green; */
}

.lane1{
  /* background-color: grey; */
  height: 100px;
  width: 800px;
  color: grey;
  background-image: url(Images/toproad.png);
}

.lane2{
  /* background-color: grey; */
  height: 100px;
  width: 800px;
  color: grey;
  background-image: url(Images/road.png);
}

.lane3{
  /* background-color: grey; */
  height: 100px;
  width: 800px;
  color: grey;
  background-image: url(Images/road.png);
}

.lane4{
  /* background-color: grey; */
  /* border: 1px solid grey; */
  height: 100px;
  width: 800px;
  color: grey;
  background-image: url(Images/road.png);
}

.lane5{
  /* background-color: grey; */
  /* border: 1px solid grey; */
  height: 100px;
  width: 800px;
  color: grey;
  background-image: url(Images/road.png);
}

.start{
  /* background-color: pink; */
  height: 100px;
  width: 800px;
  align-items: center;
  table-layout: fixed;
  color: pink;
  background-image: url(Images/Startrail.png);
}

#player{
  height: 80px;
  width: 80px;
  position: relative;
  display: block;
  /* background-color: purple; */
  /* border: 5px solid black; */
  /* text-align: center; */
  /* align-items: center; */
  /* align-self: center; */
}

#car{
  /* background-color: red; */
  height: 80px;
  width: 80px;
  position: relative;
  display: block;
}

#reset:hover,
#reset:focus {
  color: orange;
  text-decoration: none;
  cursor: pointer;
}

#pause:hover,
#pause:focus {
  color: orange;
  text-decoration: none;
  cursor: pointer;
}
